Django==1.6.1
Fabric==1.8.2
PyYAML==3.10
South==0.8.4
amqp==1.4.3
anyjson==0.3.3
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
billiard==3.3.0.16
celery==3.1.9
ecdsa==0.10
enum==0.4.4
flower==0.6.0
gunicorn==18.0
kombu==3.0.12
nltk==2.0.4
paramiko==1.12.2
pycrypto==2.6.1
pytz==2013.9
requests==1.2.3
tornado==3.2
-e git+https://github.com/hrichardlee/Wikipedia@1bc77f8dddca1187273b663588f6564bc72c79e2#egg=wikipedia
wsgiref==0.1.2
