{% extends "timelineviewer/base.html" %}

{% block content %}

<div id="header">
	<div class="left">
		<h1><a href="{% url 'index' %}"><span id="retelling">RETELLING</span>TIME</a></h1>
	</div>
	<div class="right">
		<a id="about-link" href="{% url 'about' %}">about</a>
	</div>
	<div class="clear"></div>
</div>

<div id="about-text">
<h2>What's going on here?</h2>
<p>Next level four loko Vice readymade, disrupt High Life seitan kale chips selfies mlkshk Thundercats pug selvage Portland. Chambray art party letterpress vinyl, Brooklyn sustainable readymade drinking vinegar chillwave before they sold out ennui gastropub direct trade. Bushwick food truck hoodie Brooklyn tote bag, put a bird on it butcher cardigan. Ethnic chillwave cliche small batch High Life. Cray sustainable Austin wayfarers VHS. Tousled cliche skateboard, readymade quinoa tote bag Etsy 3 wolf moon pop-up Williamsburg vinyl seitan VHS. DIY forage Pitchfork tattooed hoodie, Williamsburg squid.</p>

<p>Vinyl drinking vinegar Banksy polaroid ethical, post-ironic authentic forage twee. Mlkshk small batch selvage polaroid actually McSweeney's selfies, church-key normcore plaid salvia synth Wes Anderson. 3 wolf moon blog Tonx +1, fashion axe twee swag gentrify. Cliche occupy tattooed whatever banh mi. Gluten-free readymade distillery meggings. PBR leggings Intelligentsia church-key Etsy locavore gentrify gastropub +1 blog. Butcher gluten-free keytar semiotics you probably haven't heard of them gastropub selfies, small batch twee pug stumptown.</p>

<p>Banksy flannel paleo, freegan Neutra semiotics 3 wolf moon sriracha ethnic jean shorts kitsch vinyl organic photo booth. Artisan High Life trust fund, Tonx pickled +1 stumptown meggings skateboard beard. Cardigan fap chia, mixtape XOXO keffiyeh Carles freegan paleo chambray Tonx normcore locavore. Cornhole disrupt viral Thundercats mlkshk, farm-to-table post-ironic readymade raw denim occupy. +1 American Apparel farm-to-table, whatever 90's flannel Blue Bottle gluten-free mustache VHS vinyl Schlitz keytar readymade. Seitan Tonx squid flannel fashion axe pickled. Fanny pack Pitchfork lomo typewriter, American Apparel fashion axe church-key.</p>

<p>Lomo Wes Anderson bespoke selvage semiotics 8-bit, literally keffiyeh Marfa authentic Odd Future. Gastropub direct trade twee, Bushwick 8-bit dreamcatcher street art pop-up Vice locavore DIY messenger bag Neutra tattooed seitan. Narwhal occupy tofu McSweeney's beard. Echo Park whatever cardigan readymade leggings Tonx, mustache church-key irony fashion axe kitsch synth tofu. Bespoke Godard Brooklyn Terry Richardson. Kitsch salvia iPhone beard, irony Neutra freegan keffiyeh messenger bag. Tonx Godard forage pour-over.
</p>
</div>

{% endblock %}