{% extends "timelineviewer/base.html" %}

{% load staticfiles %}

{% block content %}
	<div id="header">
		<h1><span id="retelling">RETELLING</span>TIME</h1>
	</div>
	

	<div id="timelines"></div>

	<div id="timeline-adder">
		<div>
		<span id="query-instructions">Add a timeline:</span>
		<input id="query" type="text" />
		</div>

		<div id="options">
			{% for t in timelines %}
			<span class="option">
				<a href="#" id="t-{{ t.id }}">{{ t.short_title.split|join:"&nbsp;" }}</a>
				<span class="tags">{{ "todo: tags" }}</span>
			</span>
			{% endfor %}
			<span id="customoption" class="hidden">
				<a href="#">(Parse&nbsp;the&nbsp;Wikipedia&nbsp;page&nbsp;titled:&nbsp;<span id="query-text"></span>)</a>
			</span>
		</div>
	</div>

	<svg id="invisible-renderer" height="0" width="0">
		<foreignobject height="1" width="1">
			<div id="invisible-events-holder"></div>
		</foreignobject>
	</svg>

	<script type="text/javascript"
		data-main="{% static 'timelineviewer/js/viewer.js' %}"
		src="{% static 'timelineviewer/js/require.js' %}"></script>

	<script type="text/template" id="event-template">
		<div class="event-text"><span class="date"><%= date %></span> <%= content %></div>
	</script>

	<script type="text/template" id="header-template">
		<h2><%= short_title %> <a href="<%= url %>">(original page)</a></h2>
	</script>
{% endblock %}