{% extends "timelineviewer/base.html" %}

{% load staticfiles %}

{% block content %}
	<h1>Hello there</h1>

	<div id="timeline-holder">
		<p><input id="query" type="text" /><input id="searchButton" type="button" value="Go" /></p>
		<div id="events-holder" class="invisible" >
		</div>
	</div>

	<script type="text/javascript"
		data-main="{% static 'timelineviewer/js/viewer.js' %}"
		src="{% static 'timelineviewer/js/require.js' %}"></script>

	<script type="text/template" id="event-template">
		<div class="event-text"><span class="date"><%= date %></span> <%= content %></div>
	</script>
{% endblock %}