{% extends "timelineviewer/base.html" %}

{% load staticfiles %}

{% block content %}
	<h1>Hello there</h1>

	<div id="timeline-holder">
		<p><input id="query" type="text" /><input id="searchButton" type="button" value="Go" /></p>
		<div id="events-and-datestrip">
			<div id="events">
			</div>
			<div class="datestrip">
				1835
				1912
				1954
				1987
			</div>
		</div>
	</div>


	<script type="text/javascript" src="{% static 'timelineviewer/js/lib/jquery-1.10.2.js' %}"></script>
	<script type="text/javascript" src="{% static 'timelineviewer/js/lib/underscore.js' %}"></script>
	<script type="text/javascript" src="{% static 'timelineviewer/js/lib/backbone.js' %}"></script>
	<script type="text/javascript" src="{% static 'timelineviewer/js/lib/simple-js-set.js' %}"></script>
	<script type="text/javascript" src="{% static 'timelineviewer/js/viewer.js' %}"></script>

	<script type="text/template" id="event-template">
		<div class="event-marker"></div>
		<div class="event-text"><span class="date"><%= date %></span> <%= content %></div>
	</script>
{% endblock %}