body {
	font-family: Georgia;
}

.invisible {
	visibility: hidden;
}

#events-and-datestrip {
	background-color: rgb(200, 200, 200);
	height: 500px;
	width: 800px;
	position: relative;
}

	.datestrip {
		height: 20px;
		width: 100%;
		background-color: #AAAAAA;
		position: absolute;
		bottom: 0;
	}

	.event-marker {
		width: 3px;
		background-color: #333333;
		position: absolute;
		bottom: 0;
	}

	.event-text {
		font-size: 10px;
		width: 180px;
		position: absolute;
		padding-top: 4px;
		background-color: rgba(200, 200, 200, 0.9);
	}