body {
	font-family: Georgia;
}

#timeline-holder {
	position: relative;
}

#timeline-holder #events-holder {
	position: absolute;
}

.invisible {
	visibility: hidden;
}

.event-text {
	font-size: 10px;
	width: 180px;
	padding-top: 4px;
	padding-left: 4px;
	/*position: absolute;*/
	top: 0;
	background-color: rgba(200, 200, 200, 0.9);
}

.background {
	fill: white;
}