{% extends "timelineviewer/base.html" %}

{% block content %}

<div id="header">
	<div class="left">
		<h1><a href="{% url 'index' %}"><span id="retelling">RETELLING</span>TIME</a></h1>
	</div>
	<div class="right">
		<a id="about-link" href="{% url 'about' %}">about</a>
	</div>
	<div class="clear"></div>
</div>

<div id="apology-message">
	<p>We're really sorry, but we can't find what you're looking for.</p>

	<p class="details">Go back to the <a href="/">home page</a>.</p>
</div>
{% endblock %}