// From http://ethanschoonover.com/solarized
$black:    #002b36;			//base03
$blacklight:    #073642;	//base02
$fgdark:    #586e75;		//base01
//$fgdarklight:    #657b83;	//base00
//$fglightdark:     #839496;	//base0
$fglight:     #93a1a1;	//base1
$whitedark:     #eee8d5;	//base2
$white:     #fdf6e3;		//base3

$fglightTransp: rgba(147, 161, 161, 0.45);
$whiteTransp: rgba(253, 246, 227, 0.5);
$midlight: #BDC2BD; //Lab: 78, -3, 2

$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$bodyFont: 'Noticia Text', serif;
$chromeFont: 'Open Sans', sans-serif;
$headerFont: 'Open Sans Condensed', sans-serif;
$headerFontSize: 12pt;
$bodyFontSize: 10pt;

// for frame/scrolling stuff
html, body {
	height: 100%;
	width: 100%;
}

#frame {
	overflow: auto;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;

	background-color: $whitedark;
	color: $fgdark;
	font-family: $bodyFont;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a, a:visited { color: $cyan; }

.horiz-padding {
	padding-left: 10px;
	padding-right: 10px;
}

.hidden { display: none; }

#header {
	width: 100%;
	border-bottom: 2px solid $fglight;

	h1 {
		@extend .horiz-padding;
		padding-top: 4px;
		padding-bottom: 4px;
		margin: 0;

		font-size: 16pt;
		font-family: $chromeFont;
		color: $fglight;
		font-weight: 400;

		#retelling {
			font-family: $headerFont;
		}
	}
}

h2 {
	font-size: $headerFontSize;
	font-family: $headerFont;
	font-weight: 400;
	line-height: 14pt;
}

.timeline-header {
	@extend .horiz-padding;
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;

	background-color: $whitedark;
	color: $fglight;

	.left {
		float: left;
	}

	h2 {
		display: inline;
	}

	a {
		font-size: $bodyFontSize;
		line-height: 14pt;
	}

	.right {
		float: right;
	}

	.clear {
		clear: both;
	}
}


.event-text {
	width: 180px;
	margin-left: 4px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;

	background-color: $whiteTransp;
	font-size: $bodyFontSize;
	line-height: 125%;
}

#timelines {
	background-color: $white;

	.loading-indicator {
		font-size: 24pt;
		color: $fglightTransp;
		text-align: center;
		padding-top: 12pt;
		padding-bottom: 12pt;
	}

	.zoomable-holder {
		position: relative;

		.text-elements-holder {
			position: absolute; // because text elements will be absolute
			overflow: hidden;
			width: 100%;

			.text-root {
				position: absolute;

				.text-transform {
					position: absolute;
				}
			}
		}
	}


	svg {
		font-size: 10px;

		.background {
			fill: $white;
		}

		.markers line, .range-lines line {
			stroke: $fglightTransp;
			stroke-width: 2;
			shape-rendering: crispEdges;
		}

		.range-lines path {
			fill: $fglightTransp;
		}

		.axis {
			path, line {
				fill: none;
				stroke: $fglight;
				shape-rendering: crispEdges;
			}
			text {
				fill: $fglight;
			}
		}

		.context-markers {
			line.marker {
				stroke-width: 2;
				shape-rendering: crispEdges;
			}
		}

		.brush .extent {
			stroke: #fff;
			fill-opacity: .125;
			shape-rendering: crispEdges;
		}
	}
}


#timeline-adder {
	@extend .horiz-padding;
	border-top: 2px solid $fglight;
	padding-top: 4px;
	padding-bottom: 24px;

	.instructions {
		font-size: $headerFontSize;
		font-family: $headerFont;
		color: $fglight;
	}

	h2 {
		margin: 0
	}

	#highlighted-timelines {
		margin-top: 5px;
	}

	#all-timelines {
		margin-top: 20px;
	}

	#query {
		font-family: $bodyFont;
		width: 400px;
	}

	#options {
		.option {
			margin-right: 2.5em;
		}
	}
}


#invisible-renderer {
	visibility: hidden;
	position: absolute;

	.invisible-event-holder {
		position: absolute;
		top: -500;
	}
}


#apology-message {
	padding-left: 24px;
	padding-top: 24px;
	font-size: 16pt;
	max-width: 500px;

	.details {
		font-size: 12pt;
	}
}