body {
	font-family: Georgia;
	margin: 0;
	padding: 0;
}


.event-text {
	font-size: 10px;
	width: 180px;
	padding-top: 4px;
	padding-left: 4px;
	top: 0;
	background-color: rgba(200, 200, 200, 0.9);
}

.hidden {
	display: none;
}



#timelines svg {
	font-size: 10px;
}

#timelines svg .axis path,
#timelines svg .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#timelines svg .background {
	fill: white;
}

#timelines svg .brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}



#timeline-adder #options .option,
#timeline-adder #options #customoption {
	float: left;
}

#timeline-adder #options .option .tags {
	display: none;
}



#invisible-renderer {
	visibility: hidden;
	position: absolute;
}
