{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block object-tools-items %}
  <li>
    <a href="{% url 'admin:timelineadmin_populate_from_list' %}">
      From List of Timelines
    </a>
  </li>
  <li>
    <a href="{% url 'admin:timelineadmin_populate_from_title_search' %}">
      From title search
    </a>
  </li>
  <li>
    <a href="{% url 'admin:timelineadmin_resave_all' %}">
      Resave
    </a>
  </li>
  <li>
    <a href="{% url 'admin:timelineadmin_refresh_all' %}">
      Refresh all
    </a>
  </li>
  <li>
    <a href="{% url 'admin:timelineadmin_cancel_all' %}">
      Cancel all
    </a>
  </li>

  {{ block.super }}
{% endblock %}