body {
	font-family: Georgia;
}

.invisible {
	visibility: hidden;
}

#text-tester {
	position: absolute;
	visibility: hidden;
	height: auto;
	width: 180px; /*this must be the same as .event-marker*/
}

.timeline-holder {
	background-color: rgb(200, 200, 200);
	height: 500px;
	width: 800px;
	position: relative;
}

	.date-strip {
		height: 20px;
		width: 100%;
		background-color: #AAAAAA;
		position: absolute;
		bottom: 0;
	}

	.event-marker {
		width: 3px;
		background-color: #333333;
		position: absolute;
		bottom: 0;
	}

	.event-text {
		font-size: 10px;
		width: 180px;
		position: absolute;
		margin-top: 5px;
		background-color: rgba(200, 200, 200, 0.9);
	}